name: Publish Node.js Package

on:
  release:
    types: [published]

jobs:
  build:
    strategy:
      matrix:
        node-version: [22, 24]
        os: [ubuntu-latest, macos-latest]
    uses: yoriiis/actions/.github/workflows/test-and-build-root-demo.yml@main
    with:
      node-version: ${{ matrix.node-version }}
      os: ${{ matrix.os }}
      working-directory-demo: ./example

  lint:
    uses: yoriiis/svg-chunk-webpack-plugin/.github/workflows/lint.yml@main

  npm:
    needs: [build, lint]
    uses: yoriiis/actions/.github/workflows/npm-publish.yml@main
